<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Creatorinvcode</th>
      <th>Name</th>
      <th>Description</th>
      <th>Startdate</th>
      <th>Starttime</th>
      <th>Enddate</th>
      <th>Endtime</th>
      <th>Private</th>
      <th>Everyone</th>
      <th>Friends</th>
      <th>Family</th>
      <th>Work</th>
      <th>School</th>
      <th>Personal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.creatorInvCode %></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.startDate %></td>
        <td><%= event.startTime %></td>
        <td><%= event.endDate %></td>
        <td><%= event.endTime %></td>
        <td><%= event.private %></td>
        <td><%= event.everyone %></td>
        <td><%= event.friends %></td>
        <td><%= event.family %></td>
        <td><%= event.work %></td>
        <td><%= event.school %></td>
        <td><%= event.personal %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
